* {
    margin: 0;
    padding: 0;
    }
    
body {
    position: relative;
}

nav {
    position: fixed;
    bottom: 0;
    height: 150px;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-top: 1px solid gray;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.nav-item {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.nav-item.active {
    color: #0080ff;
}

section.page-header {
    position: fixed;
    top: 0;
    text-align: center;
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid gray;
    background-color: #e6f2ff;
}
.page-header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-header .notifications {
    font-size: 50px;
    color: royalblue;
}

.page-header .title {
    font-size: 4em;
    font-family: 'Abel';
}

.avatar {
    border-radius: 37.5px;
    height: 75px;
}