* {
    margin: 0;
    padding: 0;
    }

body {
    position: relative;
    font-family: 'Quicksand', sans-serif;
}

/* Top header section */
section.page-header {
    position: fixed;
    top: 0;
    text-align: center;
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid gray;
    background-color: #e6f2ff;
    background-color: #0033cc;
    color: white;
    z-index: 100;
}
.page-header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page-header div:first-child {
    margin-left: 20px;
}
.page-header div:last-child {
    margin-right: 20px
}
.page-header .notifications {
    font-size: 50px;
    color: white;
}
.page-header .title {
    font-size: 4em;
    font-family: 'Abel';
}
.avatar {
    border-radius: 37.5px;
    height: 75px;
}

/* New Post */

section.new-post {
    display: flex;
    flex-direction: row;
    background-color: white;
    position: relative;
    top: 100px;
    height: 100px;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-around;
}

.new-post i {
    font-size: 50px;
}

.new-post .text {
  font-size: 2em;
  font-weight: bold;
 flex-basis: 80%;
 margin-left: 20px;
}

.new-post .camera {
    font-size: 50px;
}

/***  posts *****/
.posts {
    position: relative;
    top: 150px;
    overflow-y: scroll;
    text-align: center;
}

article .author {
    display: flex;
    height: 100px;
    justify-content: flex-start;
}

article .author .avatar-zone {
  flex-basis: 20%;
  margin-left: 20px;
  margin-right: 20px;
}

.author .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.author .title .name {
    font-weight: bold;
    font-size: 34px;
}

.author .title .sub-title {
    font-size: 20px;
    color: grey
}

.posts .graphic img {
    width: 85%;
}

.posts .content {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2em;
}


.posts .footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;

}

.footer .activity {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: 40px
}

.activity i {
    font-size: 60px; 
}






/* Bottom navigation menu */

nav {
    position: fixed;
    bottom: 0;
    height: 150px;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-top: 1px solid gray;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    background-color: white
}

.nav-item {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.nav-item.active {
    color: #0080ff;
}
